<div class="banner d-flex justify-content-center align-items-center text-center"
     style="background: url('<%= asset_path("banner.jpg") %>') center/cover no-repeat; height: 300px;">
  <div class="text-white">
    <h2>Save any kind of movies</h2>
  </div>
</div>

<div class="m-3 col-12 p-3">
  <div class="row">
<h1>My lists</h1>

<div id="lists" class="col-9">
  <div class="row">
  <% @lists.each do |list| %>
  <div class="col-12 col-md-4">
     <h4> <%= list.name %>  </h4>
 <p><%= link_to "See details", list_path(list), class: "btn btn-primary" %></p>
 </div>
  <% end %>

</div>
</div>
<div class="col-3">
<%= link_to "+ Create a movie list", new_list_path, class: "btn btn-success text-white" %>
</div>
</div>
</div>
